@import "common/vars"

.abz-1
	font-family: "Helvetica Neue", Helvetica, sans-serif
	font-size: 40px
	font-weight: bold
	color: $btn-jumb  
	padding-left: 120px
	line-height: 2.5rem
	
.abz-2
	font-family: "Helvetica", Helvetica, sans-serif
	font-size: 16px
	color: $h5
	padding: 50px
	padding-left: 122px
	line-height: 2rem

.abz-3
	color: $p
	font-size: 25px
	font-weight: bold
	padding-left: 120px

.paragraph-2-normal
	line-height: 25px
	color: $p
	font-size: 15px
	padding-left: 120px
.paragraph-3-normal	
	line-height: 25px
	color: $p
	font-size: 15px
	padding-left: 70px
.abz-4
	color: $p
	font-size: 25px
	font-weight: bold
	padding-left: 70px