@import "common/vars"

.abz-1
	font-family: "HelveticaBold", sans-serif
	font-size: 40px
	color: $btn-jumb  
	padding-left: 120px
	line-height: 2.5rem
	
.abz-3
	font-family: "HelveticaBold", sans-serif
	color: $p
	font-size: 25px
	font-weight: bold
	padding-left: 70px

.abz-2
	font-family: "HelveticaBold", sans-serif
	color: $p
	font-size: 25px
	font-weight: bold
	padding-left: 120px
.paragraph-1
	font-family: "HelveticaLight", Helvetica, sans-serif
	font-size: 16px
	color: $h5
	padding: 50px
	padding-left: 122px
	line-height: 2rem
.paragraph-2-normal
	font-family: "HelveticaLight", Helvetica, sans-serif
	line-height: 25px
	color: $p
	font-size: 15px
	padding-left: 120px
.paragraph-3-normal	
	font-family: "HelveticaLight", Helvetica, sans-serif
	line-height: 25px
	color: $p
	font-size: 15px
	padding-left: 70px

	